Repository Softeq/Kudos, pull requests merged in 2020-10, with the labels that each got.

#205 Remove focus on Search Bars when view is dismissed (Android only)
  src/lib/viewmodels/searchable_list_viewmodel.dart
  src/lib/viewmodels/teams/teams_viewmodel.dart
  src/lib/viewmodels/users/users_viewmodel.dart
  src/lib/widgets/groupped_list_widget.dart
Labels: bug

#213 Export user notifications service
  src/cloud_functions/functions/src/index.ts
  src/cloud_functions/functions/src/services/user_notifications.ts
Labels: cloud functions

#215 Add workflow for checking cloud functions
  .github/workflows/cloud_functions.yaml
Labels: CI

#214 Replace utils
  .github/workflows/cloud_functions.yaml
  src/cloud_functions/functions/package-lock.json
  src/cloud_functions/functions/package.json
  src/cloud_functions/functions/src/index.ts
  src/cloud_functions/functions/src/services/user_notifications.ts
Labels: cloud functions

#216 Refactor cloud functions
  src/cloud_functions/functions/src/index.ts
  src/cloud_functions/functions/src/models/user.ts
Labels: cloud functions

#206 Releases ios/prod
  .github/workflows/release_android_appcenter.yaml
  .github/workflows/release_ios_appcenter.yaml
  certificates/ios/decrypt.sh
  certificates/ios/dev.mobileprovision.gpg
  certificates/ios/dev.p12.gpg
  certificates/ios/encrypt.sh
  certificates/ios/prod.mobileprovision.gpg
  certificates/ios/prod.p12.gpg
  src/ios/ExportOptions.plist
  src/ios/Podfile.lock
  src/ios/Runner.xcodeproj/project.pbxproj
  src/ios/Runner/Info.plist
  src/ios/Runner/RunnerRelease.entitlements
  src/lib/pages/login_page.dart
Labels: CI

#218 Split cloud functions
  src/cloud_functions/firebase.json
  src/cloud_functions/functions/package.json
  src/cloud_functions/functions/src/database/achievement_references/onCreate.ts
  src/cloud_functions/functions/src/database/achievements/onUpdate.ts
  src/cloud_functions/functions/src/database/teams/onUpdate.ts
  src/cloud_functions/functions/src/database/users/onCreate.ts
  src/cloud_functions/functions/src/database/users/onUpdate.ts
  src/cloud_functions/functions/src/http/addUsers.ts
  src/cloud_functions/functions/src/imports.ts
  src/cloud_functions/functions/src/index.ts
  src/cloud_functions/functions/src/services/user_notifications.ts
  src/cloud_functions/functions/src/storage/cleanup.ts
Labels: cloud functions
